* {
    background-image: none;
    box-shadow: none;
    margin: unset;
    padding: unset;
}

window {
    background-color: rgba(0, 0, 0, 0.3);
}

button {
    margin: 6px;
    border-width: 0;
    border-radius: 0;
    color: #d4e4ed;
    text-decoration-color: #3E484A;
    background-color: alpha(#444F58, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:hover,
button:active {
    background-color: alpha(#242F31, 0.7);
    transition: 300ms cubic-bezier(0, 0, 1, 1);
    outline-style: none;
}

#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png");
}

#hibernate {
    background-image: url("/usr/share/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}
