# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,rasi,sh}]
indent_size = 4

[dunstrc]
indent_size = 2

[*.{yaml,json,jsonc,scm}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

# Options for the formatter use by LuaLS
# See: https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/README_EN.md
[*.lua]
indent_size = 4
max_line_length = 120
quote_style = single
align_array_table = false
trailing_table_separator = smart
align_continuous_inline_comment = false
