# Symlinks created by systemd
home/.config/systemd/user/*.wants/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
venv/

# ruff linter & formatter
.ruff_cache
