#!/bin/sh

# This script needs to be compatible with POSIX sh,
# so the display manager can sourced it using /bin/sh

#
#   default programs
#
export EDITOR=nvim
export VISUAL=$EDITOR
export SUDO_EDITOR=$EDITOR
export BROWSER=firefox


#
#   XDG directories
#
export XDG_BIN_HOME="$HOME/.local/bin"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Media
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Media/music"
export XDG_PICTURES_DIR="$HOME/Media/images"
export XDG_SCREENSHOTS_DIR="$HOME/Media/images/screenshots"
export XDG_VIDEOS_DIR="$HOME/Media/videos"

# Dates/Time formatting
export LC_TIME=es_MX.UTF-8

# GTK
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc"

# Qt theme customization, but only if installed
command -v qt5ct > /dev/null && export QT_QPA_PLATFORMTHEME=qt5ct

# Rust
export RUSTUP_HOME="$XDG_STATE_HOME/rustup"
export CARGO_HOME="$XDG_STATE_HOME/cargo"

# npm
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/npmrc"

#
#   Path
#
# Sorted from lowest to highest priority
PATH="$CARGO_HOME/bin:$PATH"
PATH="$XDG_BIN_HOME:$PATH"
PATH="$HOME/bin:$PATH"


#
#   Default monitor configuration from arandr
#
[ -x ~/.screenlayout/default.sh ] && ~/.screenlayout/default.sh


#
#   Programs to run at startup
#
picom --daemon
udiskie &
light-locker --lock-after-screensaver=60 --lock-on-suspend --lock-on-lid &
gnome-keyring-daemon --start --daemonize --components=pkcs11,secrets,ssh
gpaste-client start
dunst &
