Xcursor.theme: Qogir-cursors

Nsxiv.window.background: #1B1D1E
Nsxiv.window.foreground: #DFDFDF
Nsxiv.bar.font: sans 14
Nsxiv.bar.background: #0A0C0D
Nsxiv.bar.foreground: #66D9EF
Nsxiv.mark.foregorund: #A6E22E
