configuration {
    dmenu {
        display-name: "CPU Frequency:";
    }
    show-icons: false;
}


* {
    font: "sans 16";
}

window {
    width: calc( 40% min 350px );
}

prompt, entry {
    font: "sans 14";
}

listview {
    lines: 6;
}

element {
    children: [ element-text ];
}
