export LC_TIME=es_MX.UTF-8
# export QT_QPA_PLATFORMTHEME=qt5ct

picom --daemon
udiskie &
light-locker --lock-after-screensaver=60 --lock-on-suspend --lock-on-lid &
gnome-keyring-daemon --start --daemonize --components=pkcs11,secrets,ssh
gpaste-client start
dunst &
# vim: set ft=sh:
