configuration {
    show-icons: false;
}

* {
    font: "CaskaydiaCove NF 16";
}

window {
    width: 250px;
}

prompt, entry {
    font: "CaskaydiaCove NF 16";
}

element {
    children: [ element-text ];
}
